useDynLib(ddepn)
importFrom( genefilter, rowSds )
importFrom( gam, gam )
importFrom( gplots, heatmap.2 )
importFrom( gplots, colorpanel )
import( lattice )
import( coda )
import( graph )
#import( igraph )
importFrom( igraph, graph.adjacency)
importFrom( igraph, print.igraph.vs)
importFrom( igraph, V )
importFrom( igraph, tkplot )
importFrom( igraph, print.igraph.es )
importFrom( igraph, E )
import( parallel )
exportPattern("^[[:alpha:]]+")
